<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='编辑文章',active='article'">
<header th:replace="index/fragments/header::headerFragment(${title},${active})"></header>
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.css}">
<link rel="stylesheet" th:href="@{/css/dark.css}">
<link rel="icon" href="" type="image/x-icon">
<style>

    .content-page > .content {
        margin-bottom: 60px;
        margin-top: 70px;
        padding: 20px 5px 15px;
    }
    #buildMap {
        width: 100%;
        height: 400px;
    }
    .deleteIcon {
        position: relative;
        top: -42px;
        left: -28px;
    }

    .editorImg {
        margin: 5px 0 !important;
    }
//     .w-e-toolbar {
//         z-index: 0 !important;
//     }
//
//     .w-e-text-container {
//         z-index: 0 !important;
//     }

</style>
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="index/fragments/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">


                    <div class="col-md-12">
                        <form role="form" id="editBuildForm" class="buildForm">
                            <input type="hidden" name="id"
                                   th:value="${target!=null and target.id!=null}?${target.id}: ''" id="targetId"/>


                            <div class="form-group col-md-3" >
                                <label>标题</label>
                                <input id="targetTitle" type="text" class="form-control" th:value="${target != null}?${target.title}: '' " placeholder="请输入标题" name="title"
                                       required="required" aria-required="true" />
                            </div>






                            <div id="uploadPhotos" class="form-group col-md-12" >
                                <label>封面图片</label>
                                <input type="hidden" name="image"
                                                   th:value="${target!=null and target.image!=null}?${target.image}: ''" id="buildPhotos"/>
                                <input id="filed" type="file" name="file" accept="image" multiple="multiple"/>
<!--                                 <image id="targetPhotos" th:src="${target != null}?${target.photos}: '' " style="width :200px; height: 120px"/> -->
                            </div>
<!--                             <form th:action="@{/admin/build/upload}" method="POST" enctype="multipart/form-data"> -->
<!--                                 文件：<input type="file" name="file"/> -->
<!--                                 <input type="submit" value="上传"/> -->
<!--                             </form> -->

<!--                             <input type="hidden" th:value="${target != null}?${target.details}: '请编辑服务详情' " name="details" id="contentArticle" /> -->

<!--                             <div class="from-group col-md-12" id="inline"> -->
<!--                                 <div id="articleContent" style="margin: 20px"></div> -->
<!--                             </div> -->

                             <input id="targetDet" type="hidden" name="content"
                                                th:value="${target!=null }?${target.content}: ''"/>



                            <div id="editor" style="">
                                 <p>欢迎使用富文本编辑器</p>
                            </div>

                            <input id="wangImg" type="hidden" value="" />

                            <div class="form-group col-md-11 text-right" >
                                <a class="btn btn-default waves-effect waves-light" th:href="@{/admin/article}">返回列表</a>
                                <button type="button" class="btn btn-primary waves-effect waves-light"
                                        th:onclick="${target == null}? 'addBuild()' : 'editBuild()'">
                                    <span>保存</span>
                                </button>
                            </div>
                        </form>


                    </div>
                </div>
                <div th:replace="index/fragments/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.1/sweetalert2.js}"></script>
<script th:src="@{//unpkg.com/wangeditor@4.7.11/dist/wangEditor.min.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.hotkeys.js}"></script>
<script type="text/javascript" th:src="@{/js/beautify-html.js}"></script>
<script type="text/javascript" th:src="@{/js/class.js}"></script>
<script type="text/javascript" th:src="@{/js/editor.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript">
    var tale = new $.tale();
    var E = window.wangEditor
    var editor = new E('#editor')


    editor.config.zIndex = 0
    editor.config.height = 500
    editor.config.showLinkImg = false

    editor.config.customUploadImg = function (resultFiles, insertImgFn) {
        // resultFiles 是 input 中选中的文件列表
        // insertImgFn 是获取图片 url 后，插入到编辑器的方法
        console.log(resultFiles)
        uploadFileWang(resultFiles[0])



        // 上传图片，返回结果，将图片插入到编辑器中

    }
    editor.create()
    editor.txt.html($('#targetDet').val())
    window.onload = function(){
        var photos = $('#buildPhotos').val();
        if(photos != null && photos != ''){
            var photoList = photos.split(',');

            for(var i = 0; i < photoList.length;i++) {
                showPhoto(photoList[i])
            }
        }

    }

    $(function() {


//         var inline = new bsEditor({
//           parent: $("#articleContent"),
//         });
//         inline.set_input($('#contentArticle').val());
//         inline.get_value()
    });

     //在input file内容改变的时候触发事件
    $('#filed').change(function(){

       var files = $('#filed').get(0).files;
       for(let i=0;i < files.length;i++) {
           uploadFile(files[i], 1)
//                 showPhoto(i)
       }
    })
    $('#icon-filed').change(function(){

       var icon = $('#icon-filed').get(0).files[0];
       uploadFile(icon, 0)
    })
     $('#det-filed').change(function(){

       var det = $('#det-filed').get(0).files[0];
       uploadFile(det, 2)
    })

    function uploadFileWang(fileObj) {
    // js 获取文件对象
    //         var fileObj = document.getElementById("file").files[0];
    // 接收上传文件的后台地址
//             var url =  "http://localhost:8082" + "/admin/upload";
            var url =  "https://jbl.ahwrxx.com" + "/admin/upload";
            var form = new FormData(); // FormData 对象
            form.append("file", fileObj); // 文件对象

            xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
            xhr.open("post", url, true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。

            xhr.onload = uploadCompleteWang; //请求完成


            xhr.onerror =  uploadFailed; //请求失败

    //         xhr.upload.onprogress = progressFunction;//【上传进度调用方法实现】
    //         xhr.upload.onloadstart = function(){//上传开始执行方法
    //             ot = new Date().getTime();   //设置上传开始时间
    //             oloaded = 0;//设置上传开始时，以上传的文件大小为0
    //         };

            xhr.send(form); //开始上传，发送form数据
        }

    function uploadFile(fileObj, type) {
// js 获取文件对象
//         var fileObj = document.getElementById("file").files[0];
// 接收上传文件的后台地址
//         var url =  "http://localhost:8082" + "/admin/upload";
        var url =  "https://jbl.ahwrxx.com/" + "/admin/upload";
        var form = new FormData(); // FormData 对象
        form.append("file", fileObj); // 文件对象

        xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
        xhr.open("post", url, true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
        if(type == 0) {
            xhr.onload = uploadComplete; //请求完成
        } else if(type == 1) {
           xhr.onload = uploadComplete2; //请求完成
        } else if (type == 2) {
           xhr.onload = uploadComplete3
        }

        xhr.onerror =  uploadFailed; //请求失败

//         xhr.upload.onprogress = progressFunction;//【上传进度调用方法实现】
//         xhr.upload.onloadstart = function(){//上传开始执行方法
//             ot = new Date().getTime();   //设置上传开始时间
//             oloaded = 0;//设置上传开始时，以上传的文件大小为0
//         };

        xhr.send(form); //开始上传，发送form数据
    }
    //上传成功响应
    function uploadCompleteWang(evt) {
            //服务断接收完文件返回的结果
            console.log('evt',evt)
            var res = JSON.parse(evt.target.responseText);

            if(res.code == 200) {
                alert("上传成功！");
    //             $('#targetVideo').attr('style','display: block')
                $('#wangImg').val(res.data)
                if(res.data != '') {
                    editor.txt.append("<p class='editorImg' data-we-empty-p=''><img src='' style='max-width:100%; ' contenteditable='false'><img src=" + res.data +" style='max-width:100%;' width='100%' contenteditable='false'><br></p>")
                }

            }else{
                console.log(res)
            }

        }
    function uploadComplete(evt) {
        //服务断接收完文件返回的结果
        console.log('evt',evt)
        var res = JSON.parse(evt.target.responseText);

        if(res.code == 200) {
            alert("上传成功！");
//             $('#targetVideo').attr('style','display: block')
            $('#iconShow').attr('src', res.data)
            $('#targetIcon').val(res.data)
        }else{
            console.log(res)
        }

    }
    function uploadComplete3(evt) {
            //服务断接收完文件返回的结果
            console.log('evt',evt)
            var res = JSON.parse(evt.target.responseText);

            if(res.code == 200) {
                alert("上传成功！");
    //             $('#targetVideo').attr('style','display: block')
                $('#detShow').attr('src', res.data)
                $('#targetDet').val(res.data)
            }else{
                console.log(res)
            }

        }
    function uploadComplete2(evt) {
            //服务断接收完文件返回的结果
            console.log('evt',evt)
            var res = JSON.parse(evt.target.responseText);

            if(res.code == 200) {
                showPhoto(res.data)
            }else{
                console.log(res)
            }

        }
    //上传失败
    function uploadFailed(evt) {
        alert("上传失败！");
    }

    function showPhoto(data) {
        var html = "<div  class='form-group col-md-3 '><image class='upImage' src='"+data+"' style='width :200px; height: 120px;margin-right:10px; margin-top:10px'/>" +
                    "<i onclick='deleteIcon(this)' class='deleteIcon fa fa-trash-o'></i>" +
                    "</div>";

       $('#uploadPhotos').append( html )

    }

    function deleteIcon(obj) {
        obj.parentNode.remove();
    }

    //上传进度实现方法，上传过程中会频繁调用该方法
    function progressFunction(evt) {
        var progressBar = document.getElementById("progressBar");
        var percentageDiv = document.getElementById("percentage");
        // event.total是需要传输的总字节，event.loaded是已经传输的字节。如果event.lengthComputable不为真，则event.total等于0
        if (evt.lengthComputable) {//
            progressBar.max = evt.total;
            progressBar.value = evt.loaded;
            percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%";
        }
        var time = document.getElementById("time");
        var nt = new Date().getTime();//获取当前时间
        var pertime = (nt-ot)/1000; //计算出上次调用该方法时到现在的时间差，单位为s
        ot = new Date().getTime(); //重新赋值时间，用于下次计算
        var perload = evt.loaded - oloaded; //计算该分段上传的文件大小，单位b
        oloaded = evt.loaded;//重新赋值已上传文件大小，用以下次计算
        //上传速度计算
        var speed = perload/pertime;//单位b/s
        var bspeed = speed;
        var units = 'b/s';//单位名称
        if(speed/1024>1){
            speed = speed/1024;
            units = 'k/s';
        }
        if(speed/1024>1){
            speed = speed/1024;
            units = 'M/s';
        }
        speed = speed.toFixed(1);
        //剩余时间
        var resttime = ((evt.total-evt.loaded)/bspeed).toFixed(1);
        time.innerHTML = '，速度：'+speed+units+'，剩余时间：'+resttime+'s';
        if(bspeed==0) time.innerHTML = '上传已取消';
    }


    function addBuild() {
        var html = editor.txt.html();
        console.log('add-html:' + html)
        var result= '';

        $('.upImage').each(function(i,n){
           if(result == ''){
              result = $(n).attr('src');
           }else {
              result = result + ',' + $(n).attr('src');
           }

        });
        $('#buildPhotos').val(result);
        var data = $('.buildForm').serialize();
        console.log('data:', data)
//         todo:  icon image

        var obj = {
            title: $('#targetTitle').val(),

            content: html,

            image: result
        }
        console.log('obj:', obj)
        tale.alertConfirm({
            title: '确定添加？',
            then: function () {
                tale.post({
                    url: '/admin/article/insert',
                    data: obj,
                    success: function (res) {
                        if (res.code == 200) {
                           tale.alertOkGoUrl('操作成功', '/admin/article');
                        }else {
                             tale.alertError(res.msg || '添加失败');
                         }
                    },
                    error: function (res) {
                        tale.alertError(res.msg || '添加失败');
                    }
                })
            }
        })
    }

    function editBuild() {

        var html = editor.txt.html();
        console.log('html:' + html)
        var id = $('#targetId').val();
        var result= '';

        $('.upImage').each(function(i,n){
           if(result == ''){
              result = $(n).attr('src');
           }else {
              result = result + ',' + $(n).attr('src');
           }

        });
        $('#buildPhotos').val(result);
        var data = $('.buildForm').serialize();

        var obj = {
            id: $('#targetId').val(),
            title: $('#targetTitle').val(),
            content: html,
            image: result
        }
        tale.alertConfirm({
            title: '确定修改？',
            then: function () {
                tale.post({
                    url: '/admin/article/update',
                    data: obj,
                    success: function (res) {
                        if (res.code == 200) {
                            tale.alertOkGoUrl('修改成功', '/admin/article');
                        }else {
                             tale.alertError(res.msg || '操作失败');
                         }
                    },
                    error: function (res) {
                        tale.alertError(res.msg || '操作失败');
                    }
                })
            }
        })
    }




</script>
</body>
</html>