<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojo.recovery.mapper.BinFullMapper">
    <resultMap id="BaseResultMap" type="com.jojo.recovery.model.BinFull">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="box_id" jdbcType="INTEGER" property="boxId"/>
        <result column="no" jdbcType="INTEGER" property="no"/>
        <result column="full_value" jdbcType="INTEGER" property="fullValue"/>
        <result column="temp_value" jdbcType="INTEGER" property="tempValue"/>
        <result column="smoke_flay" jdbcType="INTEGER" property="smokeFlay"/>
        <result column="weight" jdbcType="DECIMAL" property="weight"/>
        <result column="dev_code" jdbcType="VARCHAR" property="devCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , box_id, no, full_value, temp_value, smoke_flay, weight, dev_code, create_time,
    update_time, status, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bin_full
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bin_full
        where deleted = 0
        <if test="devCode != null and devCode != ''">
            and dev_code = #{devCode}
        </if>
        <if test="boxId != null and boxId != ''">
            and box_id = #{boxId}
        </if>
        order by id asc
    </select>
    <select id="getFullList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bin_full
        where deleted = 0
        and box_id = #{boxId}
        and full_value = 1
        order by id asc
    </select>
    <select id="getInfoByCodeNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bin_full
        where box_id = #{boxId} and no = #{no} and deleted = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_bin_full
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jojo.recovery.model.BinFull">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_bin_full (box_id, no, full_value,
        temp_value, smoke_flay, weight,
        dev_code, create_time, update_time,
        status, deleted)
        values (#{boxId,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, #{fullValue,jdbcType=INTEGER},
        #{tempValue,jdbcType=INTEGER}, #{smokeFlay,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL},
        #{devCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.jojo.recovery.model.BinFull">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_bin_full
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="boxId != null">
                box_id,
            </if>
            <if test="no != null">
                no,
            </if>
            <if test="fullValue != null">
                full_value,
            </if>
            <if test="tempValue != null">
                temp_value,
            </if>
            <if test="smokeFlay != null">
                smoke_flay,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="devCode != null">
                dev_code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="boxId != null">
                #{boxId,jdbcType=INTEGER},
            </if>
            <if test="no != null">
                #{no,jdbcType=INTEGER},
            </if>
            <if test="fullValue != null">
                #{fullValue,jdbcType=INTEGER},
            </if>
            <if test="tempValue != null">
                #{tempValue,jdbcType=INTEGER},
            </if>
            <if test="smokeFlay != null">
                #{smokeFlay,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="devCode != null">
                #{devCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jojo.recovery.model.BinFull">
        update t_bin_full
        <set>
            <if test="boxId != null">
                box_id = #{boxId,jdbcType=INTEGER},
            </if>
            <if test="no != null">
                no = #{no,jdbcType=INTEGER},
            </if>
            <if test="fullValue != null">
                full_value = #{fullValue,jdbcType=INTEGER},
            </if>
            <if test="tempValue != null">
                temp_value = #{tempValue,jdbcType=INTEGER},
            </if>
            <if test="smokeFlay != null">
                smoke_flay = #{smokeFlay,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DECIMAL},
            </if>
            <if test="devCode != null">
                dev_code = #{devCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jojo.recovery.model.BinFull">
        update t_bin_full
        set box_id      = #{boxId,jdbcType=INTEGER},
            no          = #{no,jdbcType=INTEGER},
            full_value  = #{fullValue,jdbcType=INTEGER},
            temp_value  = #{tempValue,jdbcType=INTEGER},
            smoke_flay  = #{smokeFlay,jdbcType=INTEGER},
            weight      = #{weight,jdbcType=DECIMAL},
            dev_code    = #{devCode,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            status      = #{status,jdbcType=INTEGER},
            deleted     = #{deleted,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateFull">
        update t_bin_full
        <set>
            <if test="boxId != null">
                box_id = #{boxId,jdbcType=INTEGER},
            </if>
            <if test="no != null">
                no = #{no,jdbcType=INTEGER},
            </if>
            <if test="fullValue != null">
                full_value = #{fullValue,jdbcType=INTEGER},
            </if>
            <if test="tempValue != null">
                temp_value = #{tempValue,jdbcType=INTEGER},
            </if>
            <if test="smokeFlay != null">
                smoke_flay = #{smokeFlay,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DECIMAL},
            </if>
            <if test="devCode != null">
                dev_code = #{devCode,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
        </set>
        where box_id = #{boxId,jdbcType=INTEGER} and no = #{no}
    </update>
    <update id="updateCode">
        update t_bin_full
        set dev_code = #{code}
        where box_id = #{boxId}
    </update>
</mapper>