<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojo.recovery.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.jojo.recovery.model.Order">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="box_id" jdbcType="INTEGER" property="boxId" />
        <result column="bucket_id" jdbcType="INTEGER" property="bucketId" />
        <result column="agent_id" jdbcType="INTEGER" property="agentId" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="money" jdbcType="DECIMAL" property="money" />
        <result column="weight" jdbcType="DECIMAL" property="weight" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />
    </resultMap>
    <sql id="Base_Column_List">
        id, order_no, box_id, bucket_id, agent_id, user_id, money, weight, status, type,
    remark, create_time, update_time, deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where id = #{id,jdbcType=INTEGER}
        and deleted = 0
    </select>
    <select id="getList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where deleted = 0
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="agentId != null and agentId != 1">
            and agent_id = #{agentId}
        </if>
        <if test="orderNo != null and orderNo != ''">
            and order_no = #{orderNo}
        </if>
        <if test="username != null and username != ''">
            and user_id in (select id from t_user where deleted = 0 and username like "%"#{username}"%")
        </if>
        <if test="boxName != null and boxName != ''">
            and box_id in (select id from t_box where deleted = 0 and name = #{boxName})
        </if>
        <if test="startTime != null ">
            and create_time > #{startTime}
        </if>
        <if test="endTime != null ">
            and #{endTime} > create_time
        </if>
        order by id desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_order
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jojo.recovery.model.Order">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_order (order_no, box_id, bucket_id,
        agent_id, user_id, money,
        weight, status, type,
        remark, create_time, update_time,
        deleted)
        values (#{orderNo,jdbcType=VARCHAR}, #{boxId,jdbcType=INTEGER}, #{bucketId,jdbcType=INTEGER},
        #{agentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL},
        #{weight,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{deleted,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.jojo.recovery.model.Order">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="boxId != null">
                box_id,
            </if>
            <if test="bucketId != null">
                bucket_id,
            </if>
            <if test="agentId != null">
                agent_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="boxId != null">
                #{boxId,jdbcType=INTEGER},
            </if>
            <if test="bucketId != null">
                #{bucketId,jdbcType=INTEGER},
            </if>
            <if test="agentId != null">
                #{agentId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jojo.recovery.model.Order">
        update t_order
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="boxId != null">
                box_id = #{boxId,jdbcType=INTEGER},
            </if>
            <if test="bucketId != null">
                bucket_id = #{bucketId,jdbcType=INTEGER},
            </if>
            <if test="agentId != null">
                agent_id = #{agentId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jojo.recovery.model.Order">
        update t_order
        set order_no = #{orderNo,jdbcType=VARCHAR},
            box_id = #{boxId,jdbcType=INTEGER},
            bucket_id = #{bucketId,jdbcType=INTEGER},
            agent_id = #{agentId,jdbcType=INTEGER},
            user_id = #{userId,jdbcType=INTEGER},
            money = #{money,jdbcType=DECIMAL},
            weight = #{weight,jdbcType=DECIMAL},
            status = #{status,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            remark = #{remark,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            deleted = #{deleted,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="deleted">
        update t_order
        set deleted = 1
        where id = #{id}
    </update>
</mapper>